<!-- Navigation bar -->
 <nav class="navbar navbar-expand-lg navbarbgcolor navbar-dark">

    <a class="navbar-brand">
     <img src="../../assets/images/Bell_Canada_logo_blue.png" class="imagelogo" alt="Logo">
   </a>
   <a class="toolkit">Workshop Toolkit</a>
  

   <button aria-label="Menu" class="navbar-toggler ml-auto"  type="button" data-toggle="collapse"
     data-target="#collapsibleNavbar">
     <img src="assets/images/HandleBars.svg" class="handlebarlogo" alt="Logo">
   </button> 
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
     <ul class="navbar-nav ml-auto">
       <li class="nav-item">
         <a ><img src="../../assets/images/ Notifications.png"></a>
       </li>
       <li class="nav-item">
          <a ><img src="../../assets/images/ Help.png"></a>
        </li>
       </ul>
    </div> 
 
 </nav> 
 <!-- Navigation bar -->


 <!-- <nav class="navbar navbar-expand-lg navbar-dark col-dark">
  <button aria-label="Menu" class="navbar-toggler" (click)="showMenu()" type="button" data-toggle="collapse"
    data-target="#collapsibleNavbar">
    <i class="fas fa-bars"></i>
  </button>

  <a class="navbar-brand ml-5" href="https://td.com">
    <img src="assets/img/logo.png" alt="Logo">
  </a>
  <a class="navbar-brand text-col ml-5">Bell</a>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav left-nav  mr-auto">
      <li class="nav-item">
        <a class="nav-link text-col">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-col" >Claims</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-col" >Contact Us</a>
      </li>

    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown"><a class="nav-link"> Ontario
          <i class="fas fa-chevron-down fa-1x"></i>
        </a>
      </li>


      <li class="nav-item"><a class="nav-link" > EN <i class="fas fa-chevron-down fa-1x"></i> </a></li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/search">
          <i class="fas fa-search"></i>
        </a>
      </li>
      <li class="nav-item"><a class="nav-link">
          <i class="fas fa-lock"></i> Login
        </a>
      </li>
    </ul>
  </div>
</nav> -->
