$small-screen-min: 300px;
$med-screen-max: 768px;

//..............................
.navbarbgcolor{
    
    background-color: #00549A;
    font-family: BellSliSemBol;
    font-size: 16px;
    height: 56px;
}



.navbar-toggler {
    border: 0 !important;
    
    border-color: transparent!important;
}
.navbar {
    padding: 0 1rem;

    .nav-item img{
      height: 20px;
      width:20px;
      margin-left:20px;
    }
    .nav-link {
      color: white;
    }
    img {
      width: 63px;
      height: 30px;
    }
    .toolkit{
      width: 93px;
      line-height: 16px;
      color: white;
      font-weight: bold;

    }
  
}



//MEDIA QUERIES FOR SMALL DEVICES
@media (min-width: 300px) and (max-width: 768px) {
 
  
  

  .slidein-menu {
    width: 80% !important;
  }
  .navbar {
    justify-content: flex-start !important;
  
   
  
    
  .nav-item img{
  height: 15px;
  width:15px;
  margin-left:10px;
  }
    .nav-link {
      color: white;
    }
  
    img {
      width: 50px;
      height: 25px;
    }
  .toolkit{
      width: 93px;
      line-height: 16px;
      color: white;
      font-weight: bold;
      font-size: 14px;
  
  }
  .handlebarlogo{
    height: 30px;
    width: 30px;
   
  }
  
  }
  
}









 