<div class="col-lg-12 col-sm-12 link-section">
  <a>Home > </a><a>Create Better Ideas</a>
</div>
<section class="details">
    <div class="column">
      <div class="col-sm-12 mb-5 main-content">
        <div class="detail-header "></div>
        <div class="situations-section">
          <p>Situation</p>
          <div class="situations-header ">
            <h1 mb-5>Create better ideas</h1>
            <button class="build-workshop btn btn-primary">+ Build Workshop</button>
          </div>
        </div>
        <!-- <div >
          <img class="cover-img" src="../../assets/images/two-women-having-a-meeting.jpg">
        </div> -->
        <div class="cover-img darken-pseudo darken-text">
          <p>Innovative ideas don’t come from a single person and a blank sheet of 
            paper. Create better ideas and unleash your team’s creative potential 
            by providing scope and structure to the ideation process. Whether you’re at the beginning of a project or mid-stage and faced with a new situation that requires a bold change in direction, turn problems into opportunities with these recipes.</p>
        </div>
        <div class="recipes-section">
          <h1 class="recipes-header mb-3">Recipes</h1>
              <!-- <div class="recipes-contents" *ngFor="let item of recipe_heading"> -->
                <div class="recipes-contents" *ngFor="let course of products">

              <span class="recipes-title" (click)="onRecipeClicked()">{{course.fields.title}}</span>
              <img  src="../../assets/images/Recipe_image1.svg"> 
              <!-- <span class="recipes-description">Solve problems by generating ideas silently, sharing and sorting ideas, and voting or prioritizing them.</span> -->
              <div class="recipes-description" >{{course.fields.description}}</div>
            </div>
        </div> 
    
        <div class="recipes-whole-section">
        <div class="recipes-section">
            <h1 class="recipes-header mb-3">Examples</h1>
            <div class="recipes-contents" *ngFor="let item of recipe_heading">
            <span class="recipes-title">{{item}}</span>
            <img  src="../../assets/images/Recipe_image1.svg"> 
            <span class="recipes-description">Solve problems by generating ideas silently, sharing and sorting ideas, and voting or prioritizing them.</span>
          </div>
      </div> 
    </div>
</div>
          
      
<!-- RIGHT SECTION -->
     
    </div>
  </section>
  
  
  
  

