
$small-screen-min: 300px;
$med-screen-max: 768px;
.link-section{
  background-color:#F4F4F4 ;
  height: 50px;
  padding-top: 10px;

  a{
  color: #00549A;
  font-family: Arial;
  font-size: 14px;
  margin-top: 80px;
  }
}

.details {
    background-color: white;
    
    
    .main-content{
       // margin-top:40px;
        padding-left: 0px;
        padding-right: 0px;

        .cover-img {
          max-width: 100%;
          background-image: url(../../assets/images/two-women-having-a-meeting.jpg);
          position: relative;
          background-size: cover;
          height: 600px;
        }
        .darken-pseudo{
          position: relative;
        }
        .darken-pseudo:after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        background-color: rgba(0, 0, 0, 0.5);
      }
      .darken-text p{
        color: white;
        z-index: 1;
        height: 300px;	width: 400px;
        padding:60px;
        position: relative;
        font-family: Arial;	font-size: 18px;
      }

      .situations-section{
        display:flex;
        flex-flow:column;
        flex-wrap: wrap;
        padding-left: 60px;
        
        width: 100%;
        p{
            
            color: #999999;	
            font-family: BellSlim;	
            font-size: 14px;	
            font-weight: 750;	
            letter-spacing: -0.38px;	
            line-height: 46px;
            height: 35px;
            margin-bottom: 0px;
        }
    
      .situations-header {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        //width: 70%;
        
          
          h1{
     
            height: 68px;
            width: 350px;
            color: #111111;
            font-family: BellSlim;
            font-size: 40px;
            font-weight: 900;
            letter-spacing: -1.25px;	
            line-height: 46px;
            }

          .build-workshop{
            height: 40px;
            width: 158px;	
            color: #FFFFFF;	
            font-family: Arial;
            font-size: 16px;	
            line-height: 22px;	
            text-align: center;
            margin-left:auto;
            margin-right: 20px;
            }
     }

    }

    .recipes-section{
        display:flex;
        flex-flow:row;
        flex-wrap: wrap;
        justify-content: space-between;
        width:60%;
        margin-right:0px;
        padding-left: 170px;
        //width: 70%;
    
          .recipes-header {
         
            height: 22px;	
           
            color: black;	
            font-family: BellSlim;	
            font-size: 24px;	
            font-weight: 900;	
            letter-spacing: -0.74px;	
            line-height: 22px;
            margin-top:45px;
            
            }
          .recipes-contents{
            display:flex;
            flex-flow:column;
            //width:70%;
            flex-wrap: wrap;
            
            margin-top:45px;
    
            .recipes-title{
              height: 48px;	
              width: 170px;	
              color: #00549A;	
              font-family: BellSlim;	
              font-size: 24px;	
              font-weight: 900;	
              letter-spacing: -0.75px;	
              line-height: 24px;
              margin-bottom:10px;
            }
            .recipes-description{
                padding-top:10px;
                height: 117px;	
                width: 170px;	
                color: #111111;	
                font-family: Arial;	
                font-size: 14px;	
                letter-spacing: -0.33px;	
                line-height: 16px;
    
    
            }
          }
        }

   
.recipes-whole-section{
    background-color:#F4F4F4;
    
  .recipes-section{
    display:flex;
    flex-flow:row;
    flex-wrap: wrap;
    justify-content: space-between;
    width:60%;
    margin-right:0px;
    padding-left: 170px;

      .recipes-header {
     
        height: 22px;	
       
        color: black;	
        font-family: BellSlim;	
        font-size: 24px;	
        font-weight: 900;	
        letter-spacing: -0.74px;	
        line-height: 22px;
        margin-top:45px;
        
        }
      .recipes-contents{
        display:flex;
        flex-flow:column;
        //width:70%;
        flex-wrap: wrap;
        
        margin-top:45px;

        .recipes-title{
          height: 48px;	
          width: 170px;	
          color: #00549A;	
          font-family: BellSlim;	
          font-size: 24px;	
          font-weight: 900;	
          letter-spacing: -0.75px;	
          line-height: 24px;
          margin-bottom:10px;
        }
        .recipes-description{
            padding-top:10px;
            height: 117px;	
            width: 170px;	
            color: #111111;	
            font-family: Arial;	
            font-size: 14px;	
            letter-spacing: -0.33px;	
            line-height: 16px;


        }
      }
    }
     
}
}
  
  
  
}
  
  
  
  
  
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    position: relative;
  }
  
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 14px;
    ;
  }

  // MEDIA QUERIES FOR SMALL DEVICES
  @media (min-width: $small-screen-min) and (max-width: $med-screen-max) {


    .details {
      background-color: white;
        .main-content{
          margin-top:40px;
          
          .cover-img{
            height: 200px;
            }
          .darken-text p{
            font-size: 12px;
            padding:20px;
            	width: 300px;
          }

            

          .situations-section{
            padding-left: 20px;
            width: 100%;
            .situations-header {
                display: flex;
                flex-flow: row;
                width: 100%;
          
                h1{
                    height: 68px;
                    width: 216px;
                    color: #111111;
                    font-family: BellSlim;
                    font-size: 20px;
                    font-weight: 900;
                    letter-spacing: -1px;
                    line-height: 34px;
                }
                .build-workshop{
                    color: #FFFFFF;	
                    font-family: Arial;
                    font-size: 10px;	
                    text-align: center;
                    margin-left:auto;
                    margin-right: 10px;
                }
            }
            }
        
            .recipes-section{
                padding-left:30px;
            
            }
            .recipes-whole-section{
                .recipes-section{
                    padding-left:30px;
                
                }
            }

    } 
    }
}







  