<!-- <app-links-section></app-links-section> -->
<section class="details">
    <div class="column">
      <div class="col-sm-12 col-lg-12 main-content">
       
        <div class="situations-section">
            <p>Recipe</p>
                <div class="situations-header ">
                  <h1 mb-5>From problem to plan in 1 hour</h1>
                  <button class="build-workshop btn btn-primary">+ Add to Workshop</button>
                </div>
        </div>
        <!-- <div >
            <img class="cover-img" src="../../assets/images/two-women-having-a-meeting.jpg">
        </div> -->

        <div class="cover-img darken-pseudo darken-text">
          <p>Innovative ideas don’t come from a single person and a blank sheet of 
            paper. Create better ideas and unleash your team’s creative potential 
            by providing scope and structure to the ideation process. Whether you’re at the beginning of a project or mid-stage and faced with a new situation that requires a bold change in direction, turn problems into opportunities with these recipes.</p>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="recipes-whole-section col-sm-12 col-lg-9">
          <div class="recipes-header"><h1>Methods</h1></div>
        <div class="recipes-section">
            <!-- <h1 class="recipes-header mb-3">Methods</h1> -->
            
            <div class="recipes-contents" *ngFor="let item of methods_heading">
            <span class="recipes-title" (click)="onMethodClicked()">{{item}}</span>
            <div class="recipes-img-des">
            <img  src="../../assets/images/Recipe_image1.svg"> 
            <span class="recipes-description">Solve problems by generating ideas silently, sharing and sorting ideas, and voting or prioritizing them.</span>
          </div>
          </div>
      </div> 
    </div>

          
      
<!-- RIGHT SECTION -->
<div class="col-sm-12 col-md-12 col-lg-3 right-container">
    <div class="right-section">
      <span class="featured mb-5">Examples</span>
      <span class="col-md-8 col-sm-12 mb-2 diode">DIODE Brainstorming</span>
      <img>
      <p>A customer journey map is a visual representation of the process a customer goes
      through to use a Bell product or service. With the help of a customer journey map, you
      are able to get a sense of your customers</p>
      <span class="methods-used mt-3 mb-2">Methods Used</span>
      <div class="participants-hours">
        <img>
        <p>9 participants</p>
      </div>
      <div class="participants-hours">
        <img>
        <p>3 hours</p>
      </div>
      <div class="methods-heading-right" *ngFor="let item of methods_heading">
        <p class="recipes-title">-{{item}}</p>
      </div>
    </div>
</div>

</div>
</section>