<!-- <app-links-section></app-links-section> -->
<section class="details">
    <div class="column">
      <div class="col-sm-12 col-lg-12 main-content">
       
        <div class="situations-section">
            <p>Method</p>
                <div class="situations-header ">
                  <h1 mb-5>Affinity Mapping</h1>
                  <button class="build-workshop btn btn-primary">+ Add to Workshop</button>
                </div>
        </div>
        <!-- <div >
            <img class="cover-img" src="../../assets/images/two-women-having-a-meeting.jpg">
        </div> -->
        <div class="text-cover-img">
            <div class="text">
                <span>Approximate time</span>
                <span>30-45min</span>
                <span>Affinity mapping is a common exercise used when a large set of ideas need to be organized into clusters. It can be used in numerous scenarios, including sorting design ideas, research findings, or general brainstorming session outputs. The end goal of affinity mapping is to help teams find common themes, define problems, and start developing potential solutions.</span>
                <hr>
                <span>Pros</span>
                <span>
                      - Multiple people can participate equally in idea 
                        generation and clustering discussions
                      - Ability to see big picture of the map
                      - Flexibility in moving ideas and creating headings 
                        and sub-headings
                    
                    </span>
                <span>Cons</span>
                <span>  - Requires large wall or whiteboard to work on 
                    (sometimes for multiple days or weeks)
                  - Can be time consuming
                  - Requires materials and is a very manual process</span>
            </div>
        <div class="cover-img darken-pseudo darken-text">
           
        </div>

    </div>
      </div>
    </div>
    <div class="row">
        <div class="recipes-whole-section col-sm-12 col-lg-9">
          <div class="recipes-header"><h1>Methods</h1></div>
        <div class="recipes-section">
            <!-- <h1 class="recipes-header mb-3">Methods</h1> -->
            
            <div class="recipes-contents" *ngFor="let item of methods_heading">
            <span class="recipes-title">{{item}}</span>
            <div class="recipes-img-des">
            <img  src="../../assets/images/Recipe_image1.svg"> 
            <span class="recipes-description">Solve problems by generating ideas silently, sharing and sorting ideas, and voting or prioritizing them.</span>
          </div>
          </div>
      </div> 
    </div>

          
      
<!-- RIGHT SECTION -->
<div class="col-sm-12 col-md-12 col-lg-3 right-container">
    <div class="right-section">
      <span class="featured mb-5">Examples</span>
      <span class="col-md-8 col-sm-12 mb-2 diode">DIODE Brainstorming</span>
      <img>
      <p>A customer journey map is a visual representation of the process a customer goes
      through to use a Bell product or service. With the help of a customer journey map, you
      are able to get a sense of your customers</p>
      <span class="methods-used mt-3 mb-2">Methods Used</span>
      <div class="participants-hours">
        <img>
        <p>9 participants</p>
      </div>
      <div class="participants-hours">
        <img>
        <p>3 hours</p>
      </div>
      <div class="methods-heading-right" *ngFor="let item of methods_heading">
        <p class="recipes-title">-{{item}}</p>
      </div>
    </div>
</div>

</div>
</section>
