
$small-screen-min: 300px;
$med-screen-max: 768px;

.details {
    background-color: white;
    
    
    .main-content{
        margin-top:40px;
        padding-left: 170px;
      padding-right:2px;
    
      .detail-header {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        width: 70%;
        
          
          h1{
     
            height: 68px;
            width: 216px;
            color: #111111;
            font-family: BellSlim;
            font-size: 32px;
            font-weight: 900;
            letter-spacing: -1px;
            line-height: 34px;
            }

          .build-workshop{
            height: 40px;
            width: 158px;	
            color: #FFFFFF;	
            font-family: Arial;
            font-size: 16px;	
            line-height: 22px;	
            text-align: center;
            margin-left:auto;
            }
     }
    .search-filter{
      display: flex;
      flex-flow: row;
      flex-wrap: nowrap;
      width: 70%;
      .search-input-button{
          width:80%;
          position: relative;
          .search-input{
            width: 100%;
            height: 32px;
            border-radius:15px;
            font-family: Arial;	
            font-size: 14px !important;
            padding-left: 10px;
            //margin-right: 40px;
            box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
            border:none;
          }
          input::placeholder {
            height: 18.5px;	
            width: 363px;	
            color: #999999;	
            font-family: Arial;	
            font-size: 14px;	
            line-height: 18px;
          }
    
    .search-button{
      position: absolute;
      width:30px;
      height:25px;
      border: none;
      right:0px;
      top: 4px;
      margin-right:10px;
      background-color: transparent;
        img{
          height: 20px;
          width: 20px;
          
        }
      }
    }
    .filter-button{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin:0px;
      height: 30px;
      //width: 85px;
      color: #00549A;	
      font-family: Arial;	
      font-size: 12px;	
      //line-height: 18px;	
      padding: 5px;
      border-color:#00549A ;
      margin-left: auto;
      text-align: center;
      img{
        height: 12px;
          width: 12px;
          margin-right: 10px;
      }
    }
  }

  .trending-section{
    display:flex;
    flex-flow:column;
    flex-wrap: wrap;
    
    width: 70%;
      
      .trending-header {
     
        height: 22px;	
        width: 358px;	
        color: #00549A;	
        font-family: BellSlim;	
        font-size: 24px;	
        font-weight: 900;	
        letter-spacing: -0.74px;	
        line-height: 22px;
        margin-top:45px;
        }
      .trending-search-buttons{
        display:flex;
        flex-flow:row;
        width:100%;
        flex-wrap: wrap;
        justify-content: space-between;

        .trending-btn{
          //margin-right: 40px;
          margin-bottom: 20px;
          color: #00549A;	
          font-family: Arial;	
          font-size: 14px;	
          line-height: 18px;	
          text-align: center;
          width:145px;
          height: 50px;
          border-color:#00549A ;
        }
      }
    }

      .situation-header {
     
        height: 22px;	
        width: 358px;	
        color: black;	
        font-family: BellSlim;	
        font-size: 24px;	
        font-weight: 900;	
        letter-spacing: -0.74px;	
        line-height: 22px;
        margin-top:45px;
        }
      .situation-search-buttons{
        display:flex;
        flex-flow:row;
        width:70%;
        flex-wrap: wrap;
        justify-content: space-between;

        .situation-btn{
          
          //margin-right : 40px;
          margin-bottom: 20px;
          color: #00549A;	
          font-family: Arial;	
          font-size: 14px;	
          line-height: 18px;	
          text-align: center;
          border-color:transparent ;
          width:145px;
          height: 90px;
          background-color: #C2CEDF;
        }
      }
      .situation-search-problems-buttons{
        display:flex;
        flex-flow:row;
        width:70%;
        flex-wrap: wrap;
        justify-content: space-between;

        .situation-problems-btn{
          
          //margin-right : 40px;
          margin-bottom: 20px;
          color: #00549A;	
          font-family: Arial;	
          font-size: 14px;	
          line-height: 18px;	
          text-align: center;
          border-color:transparent ;
          width:200px;
          height: 90px;
          background-color: #C2CEDF;
        }
      }
  
  } 
  
  
    .helper {
      margin: 0;
    }
  
    .helper-icon {
      position: absolute;
      right: 0;
    }
  
    .right-container{
      padding-top: 40px;
      background-color: #F4F4F4;
      padding-left:0px;
      height: 1355px;

      .right-section {
        display:flex;
        flex-direction: column;
        padding-left:20px;
        .featured {
          height: 26px;	width: 64px;	
          color: #00549A;	
          font-family: BellSlim;	
          font-size: 16px;	
          font-weight: 900;	
          letter-spacing: -0.38px;	
          line-height: 26px;
        }
      span{
        height: 26px;	
        width: 154px;	
        color: #111111;	
        font-family: BellSlim;	
        font-size: 20px;	
        font-weight: 900;	
        letter-spacing: -0.47px;	
        line-height: 26px
      }
    }
    img{
        height: 149px;
        width:100%
      }
    p{
      color: #111111;	
      font-family: Arial;	
      font-size: 14px;	
      letter-spacing: -0.33px;	
      line-height: 16px;
      padding:20px;
      }
    .coverage-button{
      margin:20px !important;
      box-sizing: border-box;	
      border: 1px solid #00549A;	
      border-radius: 4px;	
      color:#00549A;
      background-color: rgba(0,84,154,0);
      }
  }
  
}
  
  
  
  
  
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    position: relative;
  }
  
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 14px;
    ;
  }

  // MEDIA QUERIES FOR SMALL DEVICES
  @media (min-width: $small-screen-min) and (max-width: $med-screen-max) {
   .right-container {
      padding-left:0px;
      .right-section {
        padding-left:40px !important;
        .featured{
          font-family: BellSim;
          }
      } 
      img{
         padding:0px !important;
        }
    }
  

  
    .short-control {
      width: 80%;
      margin-left: 0rem;
      margin-bottom: 1rem;
    }

    .details {
      background-color: white;
      .main-content{
          margin-top:40px;
          padding-left: 30px;
          padding-right:10px;
 
        .detail-header {
          display: flex;
          flex-flow: row;
          width: 100%;
          
          h1{
     
            height: 68px;
            width: 216px;
            color: #111111;
            font-family: BellSlim;
            font-size: 20px;
            font-weight: 900;
            letter-spacing: -1px;
            line-height: 34px;
            }

          .build-workshop{

            color: #FFFFFF;	
            font-family: Arial;
            font-size: 10px;	
            text-align: center;
            margin-left:auto;
            margin-right: 10px;
            }
        }
        .search-filter{

          display: flex;
          flex-flow: row;
          width: 100%;
          .search-input-button{
            margin-right: 5px;

          .search-input{
            height: 32px;
            border-radius:15px;
            font-family: Arial;	
            font-size: 14px !important;
            padding-left: 20px;
            box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
            border:none;
            
          
          input::placeholder {
            height: 18.5px;	
            color: #999999;	
            font-family: Arial;	
            font-size: 14px;	
           // line-height: 18px;
            }
        }
    
        .search-button{
            
            border: none;
            margin-left:auto;
            background-color: transparent !important;
            //padding: 4px;
            img{
                height: 20px;
                width: 20px;
                margin-left:auto;
              }
        }
      }
        .filter-button{
            //margin:0px;
            margin-right:10px;
         
            font-family: Arial;	
            font-size: 10px;	
            border-color:#00549A ;
            margin-left: auto;
            padding:5px;
        }
      }
  
  
  //TRENDING SEARCHES
  .trending-section{
    display:flex;
    flex-flow:row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    
    .trending-header {
     
      height: 22px;	
      width: 358px;	
      color: #00549A;	
      font-family: BellSlim;	
      font-size: 20px;	
      font-weight: 900;	
      letter-spacing: -0.74px;	
      line-height: 22px;
      margin-top:45px;
    }
    .trending-search-buttons{
    width:100%;
    height: 50%;
    margin-right:10px;

    .trending-btn{
    
      //margin-right : 60px;
      margin-bottom: 20px;
       font-family: Arial;	
      font-size: 14px;	
      line-height: 18px;	
      text-align: center;
      width:100%;
   
    }
    }
  }
  .situation-section{
    display:flex;
    flex-flow:row;
    flex-wrap: wrap;
    justify-content: center;
  .situation-header {
     
    height: 22px;	
    width: 358px;	
    color: black;	
    font-family: BellSlim;	
    font-size: 20px;	
    font-weight: 900;	
    letter-spacing: -0.74px;	
    line-height: 22px;
    margin-top:45px;
    }

  .situation-search-buttons{
    width:100%;
    height: 50%;
    margin-right:10px;

    .situation-btn{
      
     
      margin-bottom: 20px;
      color: #00549A;	
      font-family: Arial;	
      font-size: 14px;	
      line-height: 18px;	
      text-align: center;
      border-color:transparent ;
      width:100%;
      background-color: #C2CEDF;
    }
  }

  .situation-search-problems-buttons{
    width:100%;
    margin-right:10px;
    .situation-problems-btn{
      margin-bottom: 20px;
      color: #00549A;	
      font-family: Arial;	
      font-size: 14px;	
      line-height: 18px;	
      text-align: center;
      border-color:transparent ;
      width:100%;
      background-color: #C2CEDF;
    }
  }  
  }

//Deatils and main content closing brases
} 
}
 
  }







  