/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@font-face {
    font-family: BellSli;
    src: url(assets/BellSli.ttf) format("opentype");
  }
  @font-face {
      font-family: BellSliBol;
      src: url(assets/BellSliBol.ttf) format("opentype");
    }
    @font-face {
      font-family: BellSlim_black;
      src: url(assets/bellslim_black-webfont.ttf) format("opentype");
    }
    @font-face {
      font-family: BellSliMed;
      src: url(assets/BellSliMed.ttf) format("opentype");
    }
    @font-face {
      font-family: BellSliSemBol;
      src: url(assets/BellSliSemBol.ttf) format("opentype");
    }
    //html, body { height: 100%; }
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.text-col {
  color: white !important
}
.col-dark {
  background-color: #12412a;

}

body {
  
  overflow-x: hidden;

}